body {
    font-family: 'Times New Roman', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f4ff;
}

.container {
    width: 320px;
}

.card {
    border: none;
    border-radius: 10px;
    background: rgba(88, 182, 88, 0.5); /* Glass color with 50% opacity */
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.card-header {
    display: flex;
    justify-content: space-between;
    background-color: transparent; /* Transparent header background */
    color: #fff;
    border-radius: 10px 10px 0 0;
}

.card-header button {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
}

.card-header button.active {
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white active button background */
    color: #1c5f309e;
}

.card-body {
    display: none;
    padding: 20px;
}

.card-body h2 {
    margin-top: 0;
    color: #fff;
}

label {
    display: block;
    margin-top: 10px;
    color: #1c5f309e;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.1); /* Semi-transparent white input background */
}

button[type="submit"] {
    width: 100%;
    background-color: #14662C; /* Green submit button background color */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
}
