body {
  font-family: 'Times New Roman', sans-serif;
  background: linear-gradient(135deg, #14662C, #22B14C); /* Use the same gradient as the navbar */
  display: flex;
  flex-direction: column;
  margin: 0;
}

header {
  background: linear-gradient(135deg, #14662C, #22B14C);
  color: #fff;
  padding: 20px;
  text-align: center;
}

/* Navbar Styles */
nav {
  background: linear-gradient(135deg, #14662C, #22B14C);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

nav .toggle-button {
  background: #14662C; /* Use the left color of the gradient */
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

nav .nav-content {
  display: flex;
  align-items: center;
  flex: 1; /* To make it take up available space */
  justify-content: center; /* To center its content horizontally */
}

nav .logo {
  max-width: 95px;
  max-height: 95px;
  margin: 0 10px;
}

nav h1 {
    font-size: 24px;
    margin: 0;
}

/* Sidebar Styles */
.sidebar {
  border: 4px solid #80522F; /* Add a border */
  height: auto;
  min-height: 75vh;
  width: 225px;
  position: fixed;
  top: 0;
  left: -250px; /* Start with sidebar hidden */
  background: #f2f2f2;
  color: #795548; /* Brown */
  padding-top: 50px;
  transition: left 0.3s; /* Smooth slide-in/out animation */
}

.sidebar a {
  border-bottom: 4px solid #80522F; /* Add a border */
  padding: 15px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  color: #795548; /* Brown */
  display: block;
}

.sidebar a:hover {
  background: linear-gradient(135deg, #8b4513, #f5d0a9); /* Change the gradient from brown to light brown */
  color: #fff; /* Text color on hover */
}

.sidebar a.active {
  background: linear-gradient(135deg, #8b4513, #f5d0a9); 
  color: #fff; /* Text color on hover */
}
/* Add this CSS to make the main content and modals move responsively */

/* Main Content */
.main-content {
  transition: margin-left 0.3s; /* Smooth slide-in/out animation */
  margin-left: 0;
}

/* Sidebar Open State */
.sidebar-open .main-content {
  margin-left: 225px; /* Adjust the width of the sidebar */
}

/* Modals */
.modal-container, #homeModal, #equipmentsModal {
  transition: left 0.3s; /* Smooth slide-in/out animation */
  left: 0;
}

/* Modals Open State */
.sidebar-open .modal-container,
.sidebar-open #homeModal
.sidebar-open #equipmentsModal {
  left: 225px; /* Adjust the width of the sidebar */
}

/* Button Styles */
.toggle-button {
  background: linear-gradient(135deg, #14662C, #22B14C);
  color: #fff;
  border: none;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.toggle-button:hover {
  background: #795548; /* Brown */
}

.close-button {
  background: #f2f2f2; /* Biege */
  color: #000;
  border: none;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
  display: none;
}

.close-button:hover {
  background: #795548; /* Brown */
}

/* Modal Styles */
.modal-container {
  background: linear-gradient(135deg, #14662C, #22B14C);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 100%; /* Adjust the width as needed */
  background: #f2f2f2;
  margin: 20px auto;
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
  display: none;
  min-height: 70vh;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0;
}

table {
  width: 80%;
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
}

th, td {
  padding: 8px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.borrowing-table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.borrowing-table th,
.borrowing-table td {
  border: 1px solid #cbcbcb;
  padding: 8px;
}

.borrowing-table th {
  background: #f2f2f2;
  color: #000;
}

.borrowing-table th i {
  margin-left: 4px;
  cursor: pointer;
}

#homeModal {
  background: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 99%; /* Adjust the width as needed */
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
  display: none;
  min-height: 70vh;
}

#homeModal h2 {
  font-size: 24px;
  margin: 0;
  color: #000;
}

#homeModal p {
  font-size: 16px;
  color: #000;
}

/* Style for the Equipments content */
#equipmentsModal {
  background: #f2f2f2;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 99%; /* Adjust the width as needed */
  margin-top: 0;
  margin-bottom: 5px;
  text-align: center;
  display: none;
  min-height: 70vh;
}

#equipmentsModal h2 {
  font-size: 24px;
  margin: 0;
  color: #000;
}

#equipmentsModal p {
  font-size: 16px;
  color: #000;
}

/* Style for the equipment list */
.equipment-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.equipment-item {
  background: linear-gradient(135deg, #cfcfcf, #ffffff);
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  flex: 1;
  text-align: center;
  transition: transform 0.2s;
}

.equipment-item img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.equipment-item h3 {
  font-size: 18px;
  margin: 0;
  color: #000;
}

.equipment-item p {
  font-size: 14px;
  color: #000;
}

.borrow-button {
  background: #22B14C;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.2s;
}

.borrow-button:hover {
  background-color: #14662C;
}

/* Footer Styles */
footer {
  background: linear-gradient(to right, #80522F, #59381E);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
